<span class="todo_is_done">
  <input type="checkbox" name="is_done", class="is_done_checkbox">
</span>
<span class="todo_title">{{title}}</span>
<span class="glyphicon glyphicon-trash destroy"></span>
