<!DOCTYPE html>
<html>
<head>
  <title>TsSample</title>
  <%= stylesheet_link_tag    '/assets/bundle.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'bundle', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="main" class="container">
    <%= yield %>
  </div>

</body>
</html>
